body {
	background-image: url(Images/BG.png);
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

.logo {
	text-decoration: none;
	color: #365cad;
	font-size: 27px;
	padding: 14px 0;
	padding-left: 5%;
	width: 20%;
	float: left;
	font-family: 'Comic Sans MS', sans-serif;
}

.menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
		padding-top: 15px;

}

.menu li {
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	font-size: 15px;
	list-style-type: none;
	background-color: #D9D9D9;
}

.menu li a {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	display: block;
	padding: 0 15px;
}

.menu li:hover ul {
	display: block;
}

.menu li ul {
	position: absolute;
	display: none;
	list-style-type: none;
	padding: 10px 45px;
	border-radius: 0 0 4px 4px;
}

.menu li ul li {
	width: 180px;
	border-radius: 4px;
}

.menu li ul li a {
	padding: 8px 12px;
}

.menu li ul li a:hover {
	background: #f3f3f3;
}

.banner-text {
	text-align: center;
	margin-top: 30%;
}

.banner-text a {
	text-decoration: none;
	border: 1px solid #fff;
	font-size: 17px;
	padding: 15px 40px;
	color: #fff;
	text-transform: uppercase;
	background: #554bb3;
}

.banner-text a:hover {
	border-color: darkred;
	transition: .8s;
	color: #262626;
	background: white;
}

@media screen and (max-width: 768px) {
	.menu {
		justify-content: center;
	}
	.logo {
		width: auto;
	}
}

@media screen and (max-width: 480px) {
	.logo {
		padding-left: 10px;
	}
}
